---
title: "Confirm your email address"
preheader: "Please confirm your email address in order to activate your account"
bodyClass: bg-pink-800
---

<extends src="src/layouts/main.html">
  <block name="template">
    <table class="w-full font-nunito">
      <tr>
        <td align="center" class="py-96 sm:py-48">
          <table class="w-600 sm:w-full">
            <tr>
              <td align="center" class="sm:px-12">
                <table class="w-full">
                  <tr>
                    <td class="p-24 text-center bg-gray-100 rounded-t-lg">
                      <a href="https://noriatelecom.com">
                        <img
                          src="https://mjengosmart-space.ams3.digitaloceanspaces.com/mjengosmart.jpg"
                          class="h-96 w-96 rounded-full"
                          alt="MjengoSmart"
                        />
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td
                      class="
                        bg-white
                        text-gray-800 text-base text-left
                        px-20
                        sm:px-12
                        leading-24
                        rounded-none
                      "
                    >
                      <p class="font-semibold text-lg">Hello Joe Gitonga,</p>
                      <p class="m-0 mb-24">
                        Please Verify your Account to proceed. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus numquam ratione eaque asperiores culpa, perspiciatis libero id tempora, quo aliquid placeat aut! Fugit quos veritatis pariatur perferendis officiis ex!
                      </p>
                      <div class="leading-full">
                        <div class="text-center">
                          <a href="https://noriatelecom.com" class="bg-pink-800 text-pink-100 px-24 py-10 rounded-md text-lg no-underline font-bold" target="_blank" title="Verify Account">Verify Me</a>
                        </div>
                      </div>
                      <table class="w-full">
                        <tr>
                          <td class="py-32">
                            <div class="bg-gray-200 h-px leading-px">
                              &zwnj;
                            </div>
                          </td>
                        </tr>
                      </table>
                      <p class="m-0 mb-16">
                        Having trouble in clicking the above button? Copy and paste the following link to a browser tab:
                        <a
                          href="https://noriatelecom.com"
                          class="text-blue-500 underline hover:no-underline"
                          >https://noriatelecom.com</a
                        >.
                      </p>
                      <p class="mt-32 mb-16 font-bold">Noria Telecom Team</p>
                    </td>
                  </tr>

                  <tr>
                    <td
                      class="
                        bg-gray-100
                        rounded-b-lg
                        text-center text-gray-600 text-xs
                        px-24
                        py-24
                      "
                    >
                      <p class="m-0 mb-4 uppercase">MjengoSmart</p>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </block>
</extends>
